/* Page */

html {
  background-color: #e9eAeB;
}

.container {
  margin-top: 1em;
}

/* Badge */
.badge {
  display: inline;
  padding: .25rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  border-radius: 4px;
}

.badge.pill {
  border-radius: 12px;
}

/* Banner */
.banner {
  margin: 0 0;
  display: grid;
  gap: 5px;
  font-family: 'Inter', sans-serif;
  padding: .5rem 1rem;
  grid-template-columns: 20px 1fr;
  grid-template-areas:  "icon title" 
                        ".... message";
  align-items: center;                      
}
.banner .banner-icon {
  grid-area: icon;
}

.banner h5 {
  margin: 0;
  display: inline;
  grid-area: title;
  font-size: 0.875rem;
  font-weight: 500;
}
.banner .banner-text {
  grid-area: message;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
}

/* Card */
.card {
  padding-top: 24px;
}

.card-main {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 384px;
  height: 208px;
  border-radius: 8px;
  position: relative;
  padding: 40px 33px 33px;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.card-text {
  min-height: 5.2rem;
  overflow: hidden;
}

.card-main:hover {
  box-shadow: 0 4px 25px 0px #0000001a;
}

.card-main h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

.card .card-icon {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px -3px #0000001a;
}
.card-icon img {
  width: 48px;
  height: 48px;
  color: white;
}

/* Testimonial */
.testimonial {
  box-sizing: border-box;
  width: 1358px;
  height: 592px;
  background-color: transparent;
  display: grid;
  grid-template-rows: 96px 400px 96px;
  grid-template-areas: "..." 
                       "text"
                       "...";
  position: relative;
}

.testimonial-image {
  height: 464px;
  width: 384px;
  border-radius: 12px;
  box-shadow: 0 20px 25px #0000001A;
  position: absolute;
  left: 71px;
  top: 50%;
  transform: translateY(-50%); 
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.testimonial-text {
  background-color: #2545B8;
  grid-area: text;
  padding: 125px 80px 0 500px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  position: relative;
  z-index: 0;
}

.testimonial-text .children::before,
.testimonial-text .children::after {
  font-size: 110px;
  position: absolute;
  color: #ffffff44;
  font-family:'Georgia', 'Times', 'Times New Roman', serif;
  font-weight: 800;
}

.testimonial-text .children::before {
  content: "\201C";
  left: 455px;
  top: 100px;
  z-index: 3;
}

.testimonial-text .children::after {
  content: "\201D";
  left: 1240px;
  top: 185px;
  z-index: 4;
}

.testimonial-text h5 {
  font-size: 1rem;
  margin: 1em 0 0.25em 0;
  font-weight: bold;
}

.testimonial-text h6 {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}

/* Tooltip */
.tooltip {
  position: relative;
}

.tooltip-display-text {
  cursor: pointer;
}

.tooltip-popup {
  margin-bottom:15px;
  user-select: none;
  position: absolute;
  bottom: calc(100% + 0.5em);
  display: grid;
  width: 384px;
  border-radius: 8px;
  grid-template-columns: 1fr 280px 1fr;
  grid-template-areas: "env title close"
                       "... txt ...";
  box-shadow: 0 4px 6px -2px #0000000D,
              0 10px 15px -3px #0000001A;
  padding:1rem;
  background-color: #262626;
  color: #c7c7c7;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.tooltip-popup::after {
  position: absolute;
  display: block;
  width: 0;
  content: '';
  border: 15px solid transparent;
  border-bottom: 0;
  border-top-color:#262626;
  bottom: -15px;
  left: 75px;
}

.tooltip-popup svg {
  width: 24px;
  height: 24px;
}

.tooltip-popup .envelope-icon {
  grid-area: env;
}

.tooltip-popup .x-icon {
  grid-area: close;
  justify-self: end;
  align-self: start;
}
.tooltip-popup .tooltip-popup-title {
  grid-area: title;
  font-weight: 500;
  align-self: center;
  color: white;
}
.tooltip-popup .tooltip-popup-text {
  grid-area: txt;
  font-weight: 400;
  margin-top: 0.5em;
}

/* Tooltip color classes */

.tooltip-popup.white-bold {
  background-color: #262626;
  color: #C7C7C7;
}
.tooltip-popup.white-bold::after {
  border-top-color:#262626;
}
.tooltip-popup.white-bold .tooltip-popup-title {
  color: white;
}
.tooltip-popup.white-bold .envelope-icon>path {
  stroke: #C7C7C7;
}
.tooltip-popup.white-bold .x-icon>path {
  fill: #C7C7C7;
}

.tooltip-popup.white {
  background-color: white;
  color: #6B7280;
}
.tooltip-popup.white::after {
  border-top-color:white;
}
.tooltip-popup.white .tooltip-popup-title {
  color: #111827;
}
.tooltip-popup.white .envelope-icon>path {
  stroke: #6B7280;
}
.tooltip-popup.white .x-icon>path {
  fill: #6B7280;
}


.tooltip-popup.blue-bold {
  background-color: #1E40AF;
  color: #E8EDFF;
}
.tooltip-popup.blue-bold .tooltip-popup-title {
  color: white;
}
.tooltip-popup.blue-bold .envelope-icon>path {
  stroke: #7EA6F2;
}
.tooltip-popup.blue-bold .x-icon>path {
  fill: #D8D8D8;
}
.tooltip-popup.blue-bold::after {
  border-top-color:#1E40AF;
}

.tooltip-popup.blue {
  background-color: #E0E7FF;
  color: #1C51B9;
}
.tooltip-popup.blue .tooltip-popup-title {
  color: #1E40AF;
}
.tooltip-popup.blue .envelope-icon>path {
  stroke: #1C51B9;
}
.tooltip-popup.blue .x-icon>path {
  fill: #1C51B9;
}
.tooltip-popup.blue::after {
  border-top-color:#E0E7FF;
}


.tooltip-popup.purple-bold {
  background-color: #A9229B;
  color: #FFE9FD;
}
.tooltip-popup.purple-bold::after {
  border-top-color:#A9229B;
}
.tooltip-popup.purple-bold .tooltip-popup-title {
  color: white;
}
.tooltip-popup.purple-bold .envelope-icon>path {
  stroke: #F462E6;
}
.tooltip-popup.purple-bold .x-icon>path {
  fill: #D8D8D8;
}

.tooltip-popup.purple {
  background-color: #FFF3FC;
  color: #C7369E;
}
.tooltip-popup.purple::after {
  border-top-color:#FFF3FC;
}
.tooltip-popup.purple .tooltip-popup-title {
  color: #A9229B;
}
.tooltip-popup.purple .envelope-icon>path {
  stroke: #C7369E;
}
.tooltip-popup.purple .x-icon>path {
  fill: #C7369E;
}

.tooltip-popup.green-bold {
  background-color: #47AA5D;
  color: #E3FFE9;
}
.tooltip-popup.green-bold::after {
  border-top-color:#47AA5D;
}
.tooltip-popup.green-bold .tooltip-popup-title {
  color: white;
}
.tooltip-popup.green-bold .envelope-icon>path {
  stroke: #C1FFCF;
}
.tooltip-popup.green-bold .x-icon>path {
  fill: #D8D8D8;
}

.tooltip-popup.green {
  background-color: #E7FFF3;
  color: #3C8C4E;
}
.tooltip-popup.green::after {
  border-top-color:#E7FFF3;
}
.tooltip-popup.green .tooltip-popup-title {
  color: #137A2A;
}
.tooltip-popup.green .envelope-icon>path {
  stroke: #137A2A;
}
.tooltip-popup.green .x-icon>path {
  fill: #3C8C4E;
}


/* Badge, Banner Color classes */
.badge.gray {
  color: #1F2937;
  background-color: #F3F4F6;
}
.badge.red,
.banner.error {
  color: #991B1B;
  background-color: #FEE2E2;
}
.badge.yellow,
.banner.warning {
  color: #92400E;
  background-color: #FEF3C7;
}
.badge.green,
.banner.success {
  color: #065F46;
  background-color: #D1FAE5;
}
.badge.blue,
.banner.neutral {
  color: #1E40AF;
  background-color: #DBEAFE;
}
.badge.indigo {
  color: #3730A3;
  background-color: #E0E7FF;
}
.badge.purple {
  color: #5B21B6;
  background-color: #EDE9FE;
}
.badge.pink {
  color: #9D174D;
  background-color: #FCE7F3;
}